body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.row {
    margin-bottom: 40px;
}

.label {
    margin-bottom: 10px;
}

.block {
    background: white;
}